/* Glavni kontejner */
.welcome-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  background: linear-gradient(to bottom, #fffaf0, #fef6e4);
  color: #333;
  gap: 80px;
}

/* Najprodavanije kategorije */
.top-categories {
  text-align: center;
  width: 100%;
  max-width: 1000px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.category-card {
  background: white;
  border: 2px solid burlywood;
  border-radius: 12px;
  padding: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.category-card p {
  margin-top: 5px;
  font-size: 1.1em;
  color: #333;
}

.category-card:hover {
  background: burlywood;
  color: white;
  transform: translateY(-5px);
}

.more-btn {
  margin-top: 25px;
  padding: 10px 30px;
  background: burlywood;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.more-btn:hover {
  background: peru;
}

/* Kako funkcionira sekcija */
.how-it-works {
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

.steps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.step {
  flex: 1 1 250px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 25px;
  transition: transform 0.3s;
}

.step:hover {
  transform: translateY(-5px);
}

.step h3 {
  color: burlywood;
  margin-bottom: 10px;
}

/* Poziv na akciju */
.join-section {
  text-align: center;
  background: burlywood;
  color: white;
  padding: 60px 40px;
  border-radius: 20px;
}

.join-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 40px;
  background: white;
  color: burlywood;
  border-radius: 8px;
  font-weight: b
}